<div class="title" style="margin-left: 20px; float: left">{{title}}</div>
<button md-icon-button style="float: right" (click)="logout()" *ngIf="auth">
  <md-icon>exit_to_app</md-icon>
</button>
<button md-mini-fab id="app-nav-user-photo-btn" (click)="editUser()" [disabled]="!currentUser" *ngIf="auth">
  <img class="app-nav-user-photo-img" [src]="photoURL$ | async" onerror="this.src='assets/images/user.png'"/>
</button>
<button md-icon-button style="float: right; margin-right: 14px" (click)="onCartClick()" *ngIf="auth">
  <md-icon>shopping_cart</md-icon>
  <span class="count" *ngIf="cart && cart.count">{{cart.count}}</span>
</button>
