@import '../../public/sass/variables';
@import url('https://fonts.googleapis.com/css?family=Orbitron');

.app-nav-icon {
  padding-top: 8px;
  padding-right: 14px;
  float: right;
}

#app-nav-user-photo-btn {
  float: right;
}

.app-nav-user-photo-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

md-sidenav {
  max-width: 200px;
}

md-sidenav {
  display: flex;
  overflow: visible;
}

.title {
  font-family: 'Orbitron', cursive;
  font-size: 28px;
}

.count {
  position: absolute;
  top: -17px;
  left: 12px;
  font-weight: bold;
}
