.layout {
  margin: 10px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: auto;
  max-height: 650px;
}

.table-row {
  min-height: 55px;
}

.actions-cell {
  display: flex;
  justify-content: flex-end;
}

.actions-cell-item {
  margin-left: 5px;
}
