<div class="layout">
  <div class="toolbar">
    <button md-raised-button color="primary" (click)="createUser()">Create User</button>
  </div>

  <div class="container mat-elevation-z8">

    <md-table #table [dataSource]="dataSource">
      <!-- Email Column -->
      <ng-container mdColumnDef="email">
        <md-header-cell *mdHeaderCellDef> Email</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.email}}</md-cell>
      </ng-container>

      <!-- DisplayName Column -->
      <ng-container mdColumnDef="displayName">
        <md-header-cell *mdHeaderCellDef> Name</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.displayName}}</md-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container mdColumnDef="actions">
        <md-header-cell *mdHeaderCellDef></md-header-cell>
        <md-cell *mdCellDef="let row" class="actions-cell">
          <button color="primary" md-mini-fab class="actions-cell-item">
            <md-icon class="md-24" aria-label="Edit" (click)="editUser(row)">edit</md-icon>
          </button>
          <button md-mini-fab class="actions-cell-item">
            <md-icon class="md-24" aria-label="Remove" (click)="removeUser(row)">delete</md-icon>
          </button>
        </md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;" class="table-row"></md-row>
    </md-table>

    <md-paginator #paginator
                  [length]="dataSource.users.length"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>
  </div>
</div>
