<h1 md-dialog-title>{{edit ? (toolbar ? 'My Profile' : 'Edit User') : 'Create New User'}}</h1>
<div md-dialog-content>
  <md-form-field class="form-full-width">
    <input #name type="text" id="name" [(ngModel)]="user.displayName" mdInput required placeholder="Name" [disabled]="edit">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #email type="email" id="email" [(ngModel)]="user.email" mdInput required placeholder="Email address" [disabled]="edit">
  </md-form-field>
  <md-form-field class="form-full-width" *ngIf="!edit">
    <input #password type="password" id="password" [(ngModel)]="user.password" mdInput required placeholder="Password">
  </md-form-field>
  <div style="display: flex; flex-direction: column" *ngIf="!toolbar">
    <md-checkbox [(ngModel)]="user.isAdmin">Admin</md-checkbox>
    <md-checkbox [(ngModel)]="user.isModerator">Moderator</md-checkbox>
  </div>
  <md-form-field class="form-full-width">
    <input #billingAddress type="text" id="billingAddress" [(ngModel)]="user.billingAddress" mdInput placeholder="Billing Address">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #shippingAddress type="text" id="shippingAddress" [(ngModel)]="user.shippingAddress" mdInput placeholder="Shipping Address">
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button (click)="onOkClick()" tabindex="2">Ok</button>
  <button md-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>
