<div class="layout">
  <div class="container mat-elevation-z8">

    <md-table #table [dataSource]="dataSource">
      <!-- User Name Column -->
      <ng-container mdColumnDef="userName">
        <md-header-cell *mdHeaderCellDef> User Name</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.userName}}</md-cell>
      </ng-container>

      <!-- shippingAddress Column -->
      <ng-container mdColumnDef="shippingAddress">
        <md-header-cell *mdHeaderCellDef> Shipping Address</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.shippingAddress}}</md-cell>
      </ng-container>

      <!-- fullPrice Column -->
      <ng-container mdColumnDef="fullPrice">
        <md-header-cell *mdHeaderCellDef> Full Price</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.fullPrice}}</md-cell>
      </ng-container>

      <!-- status Column -->
      <ng-container mdColumnDef="status">
        <md-header-cell *mdHeaderCellDef> Status</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.status}}</md-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container mdColumnDef="actions">
        <md-header-cell *mdHeaderCellDef></md-header-cell>
        <md-cell *mdCellDef="let row" class="actions-cell">
          <button color="primary" md-mini-fab class="actions-cell-item" *ngIf="currentUser && currentUser.isModerator">
            <md-icon class="md-24" aria-label="Edit" (click)="editOrder(row)">edit</md-icon>
          </button>
          <button color="primary" md-mini-fab class="actions-cell-item" *ngIf="!currentUser || !currentUser.isModerator">
            <md-icon class="md-24" aria-label="Edit" (click)="editOrder(row)">visibility</md-icon>
          </button>
          <button md-mini-fab class="actions-cell-item" *ngIf="currentUser && currentUser.isAdmin">
            <md-icon class="md-24" aria-label="Remove" (click)="removeOrder(row)">delete</md-icon>
          </button>
        </md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;" class="table-row"></md-row>
    </md-table>

    <md-paginator #paginator
                  [length]="dataSource.orders.length"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </md-paginator>
  </div>
</div>
