<br>
<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>
    <form class="form-signin">
      <md-form-field class="form-full-width">
        <input #email type="email" id="email" mdInput placeholder="Email address">
      </md-form-field>
      <md-form-field class="form-full-width">
        <input #password type="password" id="password" mdInput placeholder="Password">
      </md-form-field>
      <br>
      <button md-raised-button color="primary" (click)="loginWithEmail($event, email.value, password.value)">Sign in</button>
      <button md-raised-button color="accent" (click)="loginWithGoogle()">Login With Google</button>
    </form>
    <hr>
    <button md-button color="primary" [routerLink]="['/register']">Register Now</button>
    <button md-button color="primary" (click)="loginWithAdmin()">...Test Admin</button>
  </div>
</div>
