.registermodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 10px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  //font-family: roboto;
}

.registermodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  //font-family: roboto;
}
