<br>
<div class="modal-dialog">
  <div class="registermodal-container">
    <h1>Register</h1><br>
    <form class="form-signin" (submit)="register($event, name.value, email.value, password.value)">
      <md-form-field class="form-full-width">
        <input #name type="text" id="name" mdInput placeholder="Name">
      </md-form-field>
      <md-form-field class="form-full-width">
        <input #email type="email" id="email" mdInput placeholder="Email address">
      </md-form-field>
      <md-form-field class="form-full-width">
        <input #password type="password" id="password" mdInput placeholder="Password">
      </md-form-field>
      <br>
      <re-captcha (resolved)="captchaResolved($event)" siteKey="6LdEdy8UAAAAACheOwXMc7XnZxGIgXQe8ArK1mEt"></re-captcha>
      <br>
      <button md-raised-button color="primary" type="submit">Register</button>
    </form>
  </div>
</div>
