<div class="menu">
  <md-nav-list>
    <a md-list-item routerLink="/dashboard" routerLinkActive="active" class="menu-item first"><md-icon class="icon">dashboard</md-icon>Dashboard</a>
    <a md-list-item routerLink="/orders" routerLinkActive="active" class="menu-item"><md-icon class="icon">shopping_cart</md-icon>Orders</a>
    <a md-list-item routerLink="/users" routerLinkActive="active" class="menu-item" *ngIf="currentUser?.isAdmin"><md-icon class="icon">supervisor_account</md-icon>Users</a>
  </md-nav-list>
</div>
