.menu {
  overflow: auto;
  height: 100%;
  background-color: #3f51b5;
  width: 200px;
  border-right: black solid 1px;
}

.menu-item {
  color: white;
  border-bottom: solid 1px dimgray;
}

.menu-item.first {
  border-top: solid 1px dimgray;
}

.menu-item .icon {
  color: gray;
  margin-right: 10px;
}
