<h1 md-dialog-title>{{edit ? 'Edit Product' : 'Create New Product'}}</h1>
<div md-dialog-content>
  <md-form-field class="form-full-width">
    <input #name type="text" id="title" [(ngModel)]="product.title" mdInput required placeholder="Title">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #comment type="text" id="comment" [(ngModel)]="product.comment" mdInput placeholder="Comment">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #photoURL type="text" id="photoURL" [(ngModel)]="product.photoURL" mdInput placeholder="Photo URL">
  </md-form-field>
  <md-form-field class="form-full-width">
    <textarea #description type="text" id="description" [(ngModel)]="product.description" mdInput placeholder="Description"></textarea>
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #price type="text" id="price" [(ngModel)]="product.price" mdInput placeholder="Price">
    <md-hint align="end">{{product.price}} M$</md-hint>
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button (click)="onOkClick()" tabindex="2">Ok</button>
  <button md-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>
