<h1 md-dialog-title>Cart</h1>
<div md-dialog-content>
<!--
  <md-select placeholder="Status" [(ngModel)]="order.status">
    <md-option *ngFor="let status of statusList" [value]="status">{{ status }}</md-option>
  </md-select>
-->
  <md-form-field class="form-full-width">
    <input #fullPrice type="text" id="fullPrice" value="{{cart.fullPrice}} M$" mdInput disabled placeholder="Full Price">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #billingAddress type="text" id="billingAddress" [(ngModel)]="cart.billingAddress" mdInput placeholder="Billing Address">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #shippingAddress type="text" id="shippingAddress" [(ngModel)]="cart.shippingAddress" mdInput placeholder="Shipping Address">
  </md-form-field>
  <md-form-field class="form-full-width">
    <textarea #comment type="text" id="comment" [(ngModel)]="cart.comment" mdInput placeholder="Comment"></textarea>
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button (click)="onOkClick()" tabindex="2">Create Order</button>
  <button md-button (click)="onNoClick()" tabindex="-1">Close</button>
</div>
