<md-toolbar id="toolbar" color="primary" style="display: flex; overflow: visible">
  <button md-mini-fab class="example-fab" (click)="sidenav.toggle()" *ngIf="auth">
    <md-icon>menu</md-icon>
  </button>
  <app-toolbar-menu style="width: 100%"></app-toolbar-menu>
</md-toolbar>
<md-sidenav-container style="background-color: inherit; height: calc(100% - 64px); background-image: url('assets/images/background.png')">
  <md-sidenav #sidenav mode="side" opened="true">
    <app-menu></app-menu>
  </md-sidenav>
  <toaster-container></toaster-container>
  <router-outlet></router-outlet>
</md-sidenav-container>
