<md-card class="product mat-elevation-z8 float-item">
  <md-icon style="position: absolute; right: 10px; top: 10px;">star</md-icon>
  <md-card-header style="flex-direction: column">
    <md-card-title style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden" title="{{product.title}}">{{product.title}}</md-card-title>
    <md-card-subtitle style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%;" title="{{product.comment}}">
      {{product.comment ? product.comment : '...'}}
    </md-card-subtitle>
  </md-card-header>
  <div style="height: 200px; overflow: hidden">
    <img md-card-image [src]="product.photoURL ? product.photoURL : 'assets/images/no_photo.jpg'">
  </div>
  <md-card-content>
    <p style="height: 150px; overflow: auto;">
      {{product.description}}
    </p>
    <p>
      Price: {{product.price}} M$
    </p>
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-mini-fab class="actions-button">
      <md-icon class="md-24" aria-label="Add To Cart" (click)="addToCart()">add_shopping_cart</md-icon>
    </button>
    <button color="primary" md-mini-fab class=actions-button *ngIf="currentUser && (currentUser.isAdmin || currentUser.isModerator)">
      <md-icon class="md-24" aria-label="Edit" (click)="editProduct()">edit</md-icon>
    </button>
    <button md-mini-fab class="actions-button" *ngIf="currentUser && currentUser.isAdmin">
      <md-icon class="md-24" aria-label="Remove" (click)="removeProduct()">delete</md-icon>
    </button>
  </md-card-actions>
</md-card>
