<div class="toolbar" *ngIf="currentUser && (currentUser.isAdmin || currentUser.isModerator)">
  <button md-raised-button color="primary" (click)="createProduct()">Create Product</button>
</div>
<div class="product-list float">
<app-product *ngFor="let product of products" [product]="product"></app-product>
</div>
