.product-list {
  margin: 20px;
}

.float {
  //max-width: 1200px;
  //margin: 0 auto;
}

.float:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.toolbar {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: flex-end;
}
