.form-full-width {
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $taviraj, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

#app-nav-user-photo-btn > .mat-button-wrapper {
  padding: 0;
}
