<h1 md-dialog-title>{{edit ? (currentUser && currentUser.isModerator ? 'Edit Order' : 'View Order') : 'Create New Order'}}</h1>
<div md-dialog-content>
  <md-form-field class="form-full-width">
    <input #userName type="text" id="userName" [(ngModel)]="order.userName" mdInput disabled placeholder="User Name">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #billingAddress type="text" id="billingAddress" [(ngModel)]="order.billingAddress" mdInput disabled placeholder="Billing Address">
  </md-form-field>
  <md-form-field class="form-full-width">
    <input #shippingAddress type="text" id="shippingAddress" [(ngModel)]="order.shippingAddress" mdInput disabled placeholder="Shipping Address">
  </md-form-field>
  <md-form-field class="form-full-width">
    <textarea #comment type="text" id="comment" [(ngModel)]="order.comment" mdInput disabled placeholder="Comment"></textarea>
  </md-form-field>
  <md-select placeholder="Status" [(ngModel)]="order.status" [disabled]="!currentUser || !currentUser.isModerator">
    <md-option *ngFor="let status of statusList" [value]="status">{{ status }}</md-option>
  </md-select>
</div>
<div md-dialog-actions>
  <button md-button (click)="onOkClick()" tabindex="2" *ngIf="currentUser && currentUser.isModerator">Ok</button>
  <button md-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
